<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
	    <p>Instagram will conduct a background check once you submit your information. Is that okay?</p>

	    <form style="display: inline" action="/apply" method="get">
	      <button class="btn btn-success">Go Ahead</button>
	    </form>

	    <form style="display: inline" action="/" method="get">
	      <button class="btn btn-success">Never Mind!</button>
	    </form>
	</div>
</div>
