<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
		<h3>Your shopper information has been saved</h3>
		<br>
		<a href="/"><button class="btn btn-success">Back to Home</button></a>
	</div>
</div>
