<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
		<h1>Instacart Shopper Application</h1> <br><br><br>
    	<h3 color:darkorange>Want to earn money while buying groceries? Now you can do that with Instacart</h3>
    	<br>
	    <form style="display: inline" action="/confirm" method="get">
	      <button class="btn btn-success">Apply Now</button>
	    </form>
	</div>
</div>
