<%- include('header') -%>

<div class="jumbotron">
	<div class="container">
		<h2>Instacart Shopper Application</h2> <br><br>
    	<h4 color:darkorange>Want to earn money while buying groceries? Now you can do that with Instacart</h4>
    	<br>
	    <form style="display: inline" action="/confirm" method="get">
	      <button class="btn btn-success">Apply Now</button>
	    </form> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</div>
